@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: gold;
}

.App {
  background-color: #14161a;
  color: white;
  min-height: 100vh;
}

.title {
  font-family: "Montserrat", sans-serif !important;
  font-weight: bold !important;
  color: gold;
  flex: 1;
  cursor: pointer;
}

.banner {
  background: url('./img/banner.jpg');
}

.bannerContainer {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 25px;
}

.tagline {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
  height: 50%;
  display: flex;
  align-items: center;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  font-family: "Montserrat";
}

.tableContainer {
  border-radius: 5px;
}

.row {
  background-color: #16171a;
  cursor: pointer;
}

.row:hover {
  background-color: #131111;
}

.pagination li button {
  color: gold;
}

.pagination li div {
  color: gold;
}

.coinContainer {
  display: flex;
}

.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  border-right: 2px solid gray;
}

.coinHeader {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bold !important;
  margin-bottom: 20px !important;
}

.coinDescription {
  width: 100%;
  font-family: 'Montserrat', sans-serif !important;
  text-align: justify;
  padding: 0 25px 15px 25px;
}

.marketData {
  width: 100%;
  align-self: flex-start;
  padding: 10px 25px 25px 25px;
}

.chartContainer {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-top: 25px;
}

.selectButton {
  width: 22%;
  border: 1px solid gold;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.selectButton:hover {
  background-color: gold;
  color: black;
}








@media screen and (max-width: 1280px) {
  .coinContainer {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
    border-right: none;
  }

  .marketData {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chartContainer {
    width: 100%;
    padding: 0 20px 20px 20px;
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .marketData {
    align-items: flex-start;
  }
}